<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <h2>
      <a href="{{ site.baseurl }}/" class="logo">
        {{ site.title }}
      </a>
    </h2>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>

    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        {% for page in site.pages %}
        {% if page.title and page.main_nav != false %}
        <a class="nav-link" href="{{ page.url | prepend: site.baseurl }}"><li class="nav-link">{{ page.title }}</li></a>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
